body {
	width: 95%;
	height: 100%;
	background-color: #f7f7f7;
}

.vehicle {
	margin: 10px;
	text-align: center;
}

.text {
	display: block;
	margin: 10px auto;
	width: 150px;
	height: 25px;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
}

.button {
	margin: 10px 0px;
	width: 150px;
	color: #aeaeb0;
	height: 25px;
	cursor: pointer;
	background-color: #2a2d33;
	border: 1px solid #bdc2ca;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-webkit-border-radius: 5px;
	-ms-webkit-border-radius: 5px;
	-o-webkit-border-radius: 5px;
}